<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Style.css')}}">
    <title>Withdraw</title>
</head>

<body>
    <div class="header">
        <div class="header_buttons">
            <div class="User_info">
                <label for="username">Username: </label> Rakan. <br>
                <label for="level">Level: </label>10
                <label> / </label>
                <label for="experience">exp: </label> 350
            </div>
            <button>Logout</button>
            <button>Mail</button>
        </div>
    </div>
    <div class="sidenavbar">
        <a href="Coming Soon.html" class="logo">My Site</a>
        <div class="sidenav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Sign up</a>
            <a href="{{ url_for('Ads') }}">Watch Ads</a>
            <a href="{{ url_for('Shortlinks') }}">Shortlinks</a>
            <a href="{{ url_for('Withdraw') }}">Withdraw</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
            <a href="{{ url_for('News') }}">News</a>
        </div>
    </div>

    <div class="form">
        <h1><span>Withdraw</span></h1>
        <form action="server url" method="get/post">
            <fieldset>
                <label style="font-size: 20px;"><b> Your Wallet Address: </b></label> <br />
                <br />
                <input type="text" placeholder="Wallet Address" /> <br /><br />
                <label style="font-size: 20px;"><b>Withdraw Amount: </b> </label> <br /><br />
                <input type="number" placeholder="Withdraw Amount" /><b> TRX </b> <br /><br />
                <br />
                <div class="withdraw_conditions">
                    Minimum Withdrawal: 1 TRX. <br> <br>
                    Transaction fee: 0.1 TRX. <br> <br>
                    You will recieve: 0.9 TRX.
                </div> <br> <br> <br>
                <button type="submit">Withdraw</button> <br />
                <br />
            </fieldset>
        </form>
    </div>

    <div class="footer">
        <nav>
            <p> Copyrighted &#169; MySite.com 2021. All rights reserved. </p>
        </nav>
    </div>

</body>

</html>